.popup__input{
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    display: block;
    border: none;
    border-bottom: 2px solid #0002;
    margin: 0px auto 30px;
    width: 358px;
    height: 14px;
    padding-bottom: 7px;
    outline: none;
}

.popup__input:last-of-type{
    margin-bottom: 48px;
}
@media screen and (max-width: 500px){
    .popup__input:last-of-type{
        margin-bottom: 46px;
    }
}
@media screen and (max-width: 500px){
    .popup__input{
        width: 238px;

    }
}
